/* font-family: 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


* {
    margin:0;
    box-sizing:border-box;

}


html, body {
    height:100%;
}

body {
   
    margin-top:4em;
    margin-right: 2em;
    margin-left:2em;


}
/* General Styling for fonts */

h1{
    color: hsl(0, 0%, 100%);
    font-family: 'Big Shoulders Display', cursive;
    padding-top:0.6em;
    font-size:2.5em;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    padding-top:1.7em;
    font-size: 0.9em;
}

button{
    background-color:hsl(0, 0%, 95%);
    width:9em;
    height:3em;
    border-radius:30px;
    border-style:none;
    margin-top:2em;
    

}
button:hover {
    background-color:hsl(59, 95%, 48%);
    width:9em;
    height:3em;
    cursor:pointer;
}

/* Class color changes */


.button_1 {
color:hsl(31, 77%, 52%);
}

.button_2 {
    color:hsl(184, 100%, 22%);
}

.button_3 {
    color:hsl(179, 100%, 13%);
}

.container {
padding:3em;
}

.container  > :nth-child(3) {
margin-bottom: 3em;
}

.con_1{
    background-color: hsl(31, 77%, 52%);

}


.con_2{
    background-color:hsl(184, 100%, 22%);

}

.con_3{
    background-color:hsl(179, 100%, 13%);
    margin-bottom:4em;

  
}

/* Responsive Design for screen 1440 */

@media(min-width:700px) {


    html {
        display:flex;
        justify-content:center;
        align-items: center;
    }

    body{
    display:flex;
    /* max-height: 930px; */
    
    
}
.container{
    margin-top: 10%;
    margin-bottom:10%;
    padding-top:5%;
    
}

.con_1{
    margin-left: 15%;
}

.con_3{
    margin-right: 15%;
}

body > div{
    flex: 1;
}
}